<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teacherbe.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="cn.teacherbe.entity.Admin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="cn.teacherbe.entity.RoleList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="no" jdbcType="VARCHAR" property="no" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, department, post, no, password, delete_flag, register_date, update_date, 
    creator, updater
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_admin
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectRoleList" resultMap="BaseResultMap2">
    SELECT t.id,t.name,t.department,t.post,t.no,GROUP_CONCAT((select name from t_role t3 where t3.id = t2.role_id) SEPARATOR ',') AS role,
    GROUP_CONCAT(t2.role_id SEPARATOR ',') AS role_id,t.password
    FROM t_admin t
    LEFT JOIN t_admin_role t2 ON t.id = t2.admin_id
    WHERE t.delete_flag= 0
    GROUP BY t.no
    LIMIT #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="selectRoleListCount" resultType="Integer">
    SELECT count(*)
    FROM t_admin t
    WHERE t.delete_flag= 0
  </select>
  <select id="selectRoleList2" resultType="String">
    SELECT
    GROUP_CONCAT(t2.role_id SEPARATOR ',') AS role_id
    FROM t_admin t
    LEFT JOIN t_admin_role t2 ON t.id = t2.admin_id
    WHERE t.no = #{no,jdbcType=VARCHAR}
    AND t.delete_flag= 0
  </select>
  <select id="selectByNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_admin
    where no = #{no,jdbcType=VARCHAR}
    AND password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="selectByAdmin" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_admin
    where no = #{no,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert">
    insert into t_admin (id, name, department, 
      post, no, password, 
      delete_flag, register_date, update_date, 
      creator, updater)
    SELECT null, #{name,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR},
      #{post,jdbcType=VARCHAR}, #{no,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      0, SYSDATE(), SYSDATE(),
      #{account,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR} FROM DUAL WHERE NOT EXISTS(SELECT * FROM t_admin WHERE no = #{no,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.teacherbe.entity.Admin">
    insert into t_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="department != null">
        department,
      </if>
      <if test="post != null">
        post,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
      <if test="registerDate != null">
        register_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="registerDate != null">
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.teacherbe.entity.Admin">
    update t_admin
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR},
      </if>
      <if test="no != null">
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="registerDate != null">
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey">
    update t_admin
    set name = #{name,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      no = #{no,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      register_date = SYSDATE(),
      update_date = SYSDATE(),
      creator = #{account,jdbcType=VARCHAR},
      updater = #{account,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>