<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.teacherbe.dao.WorkitemRelationMapper">
  <resultMap id="BaseResultMap" type="cn.teacherbe.entity.WorkitemRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="one_common_id" jdbcType="INTEGER" property="oneCommonId" />
    <result column="two_common_id" jdbcType="INTEGER" property="twoCommonId" />
    <result column="execution_cross" jdbcType="VARCHAR" property="executionCross" />
    <result column="executive_class" jdbcType="VARCHAR" property="executiveClass" />
    <result column="check_if" jdbcType="INTEGER" property="checkIf" />
    <result column="process" jdbcType="VARCHAR" property="process" />
    <result column="workitem_status" jdbcType="INTEGER" property="workitemStatus" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="delete_flag" jdbcType="INTEGER" property="deleteFlag" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="cn.teacherbe.entity.WorkitemRelationPlan">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="ship_number" jdbcType="VARCHAR" property="shipNumber" />
    <result column="batch" jdbcType="INTEGER" property="batch" />
    <result column="segmentation" jdbcType="VARCHAR" property="segmentation" />
    <result column="part_number" jdbcType="VARCHAR" property="partNumber" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="length" jdbcType="INTEGER" property="length" />
    <result column="workitem_status" jdbcType="INTEGER" property="workitemStatus" />
    <result column="process" jdbcType="VARCHAR" property="process" />
  </resultMap>
  <resultMap id="BaseResultMap3" type="cn.teacherbe.entity.TaskInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="ship_number" jdbcType="VARCHAR" property="shipNumber" />
    <result column="batch" jdbcType="INTEGER" property="batch" />
    <result column="segmentation" jdbcType="VARCHAR" property="segmentation" />
    <result column="part_number" jdbcType="VARCHAR" property="partNumber" />
    <result column="workitem_status" jdbcType="VARCHAR" property="workitemStatus" />
    <result column="executive_class" jdbcType="VARCHAR" property="executiveClass" />
  </resultMap>
  <resultMap id="BaseResultMap4" type="cn.teacherbe.entity.WorkItemInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="ship_number" jdbcType="VARCHAR" property="shipNumber" />
    <result column="batch" jdbcType="INTEGER" property="batch" />
    <result column="segmentation" jdbcType="VARCHAR" property="segmentation" />
    <result column="part_number" jdbcType="VARCHAR" property="partNumber" />
    <result column="description" jdbcType="VARCHAR" property="description" />

  </resultMap>
  <resultMap id="BaseResultMap5" type="cn.teacherbe.entity.OutInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="ship_number" jdbcType="VARCHAR" property="shipNumber" />
    <result column="batch" jdbcType="INTEGER" property="batch" />
    <result column="segmentation" jdbcType="VARCHAR" property="segmentation" />
    <result column="part_number" jdbcType="VARCHAR" property="partNumber" />
    <result column="workitem_status" jdbcType="VARCHAR" property="workitemStatus" />
    <result column="executive_class" jdbcType="VARCHAR" property="executiveClass" />
    <result column="car_number" jdbcType="VARCHAR" property="carNumber" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
  </resultMap>
  <resultMap id="BaseResultMap6" type="cn.teacherbe.entity.FuckYou">
    <result column="ship_number" jdbcType="VARCHAR" property="shipNumber" />
    <result column="segmentation" jdbcType="VARCHAR" property="segmentation" />
    <result column="id1" jdbcType="INTEGER" property="id1" />
    <result column="id2" jdbcType="INTEGER" property="id2" />
  </resultMap>
  <sql id="Base_Column_List">
    id, one_common_id, two_common_id, execution_cross, executive_class, check_if, process, 
    workitem_status, register_date, update_date, creator, updater, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_workitem_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCommonId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_workitem_relation
    where one_common_id = #{commonId,jdbcType=INTEGER}
  </select>
  <select id="selectByCommonId2" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_workitem_relation
    where two_common_id = #{commonId2,jdbcType=INTEGER}
  </select>
  <select id="getTotal" resultType="Integer">
    SELECT COUNT(*) FROM t_workitem_relation WHERE (delete_flag = 0 or delete_flag is null);
  </select>
  <select id="getDone" resultType="Integer">
    SELECT COUNT(*) FROM t_workitem_relation WHERE workitem_status = 4 and (delete_flag = 0 or delete_flag is null);
  </select>
  <select id="getAssemblyInfoDone" resultType="Integer">
    SELECT COUNT(*) FROM t_workitem_relation
  WHERE workitem_status > 1
  and (delete_flag = 0 or delete_flag is null)
  and executive_class = (SELECT
    c.id
    FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
	AND c.name = #{no,jdbcType=VARCHAR})
	AND to_days(update_date) = to_days(now())
  </select>
  <select id="selectPlan" resultMap="BaseResultMap2">
    SELECT t.id,t1.ship_number,t1.batch,t1.segmentation,CONCAT(t1.part_number,',',t2.part_number) as part_number
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE (t.delete_flag = 0 or t.delete_flag is null)
    AND t1.delete_flag = 0
    AND t2.delete_flag = 0
    AND t1.`status` = 3
    AND t2.`status` = 3
    AND t.workitem_status = 0
    AND t.execution_cross = 'nothing'
    AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
    LIMIT #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="selectFuckyou" resultMap="BaseResultMap6">
    SELECT t1.ship_number,t1.segmentation,t1.id as id1 ,t2.id as id2
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE (t.delete_flag = 0 or t.delete_flag is null)
    AND t1.delete_flag = 0
    AND t.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectPlanCount" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE (t.delete_flag = 0 or t.delete_flag is null)
    AND t1.delete_flag = 0
    AND t2.delete_flag = 0
    AND t1.`status` = 3
    AND t2.`status` = 3
    AND t.workitem_status = 0
    AND t.execution_cross = 'nothing'
    AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
  </select>

  <select id="selectTaskInfo" resultMap="BaseResultMap3">
    SELECT t.id,t1.ship_number,t1.batch,t1.segmentation,CONCAT(t1.part_number,',',t2.part_number) as part_number,
    t.workitem_status,CASE WHEN t.executive_class='nothing' and t.status is null THEN '未分配' WHEN t.executive_class='17' and t.status is null THEN '一跨已认领'
    WHEN t.executive_class='18' and t.status is null THEN '二跨已认领' WHEN t.executive_class='19' and t.status is null THEN '三跨已认领' WHEN t.executive_class='20' and t.status is null THEN '王继先已认领'
    WHEN t.executive_class='21' and t.status is null THEN '董世坤已认领' WHEN t.executive_class='22' and t.status is null THEN '孙伟已认领' WHEN t.executive_class='23' and t.status is null THEN '兹兆言已认领'
    WHEN t.executive_class='24' and t.status is null THEN '徐恩成已认领'
    WHEN t.executive_class='25' and t.status is null THEN '刘恩胜已认领'
    WHEN t.executive_class='nothing' and t.status=11 THEN '(一跨转入)未分配' WHEN t.executive_class='17' and t.status=11 THEN '(一跨转入)一跨已认领'
    WHEN t.executive_class='18' and t.status=11 THEN '(一跨转入)二跨已认领' WHEN t.executive_class='19' and t.status=11 THEN '(一跨转入)三跨已认领'
    WHEN t.executive_class='20' and t.status=11 THEN '(一跨转入)王继先已认领'
    WHEN t.executive_class='21' and t.status=11 THEN '(一跨转入)董世坤已认领'
    WHEN t.executive_class='22' and t.status=11 THEN '(一跨转入)孙伟已认领'
    WHEN t.executive_class='23' and t.status=11 THEN '(一跨转入)兹兆言已认领'
    WHEN t.executive_class='24' and t.status=11 THEN '(一跨转入)徐恩成已认领'
    WHEN t.executive_class='25' and t.status=11 THEN '(一跨转入)刘恩胜已认领'
    WHEN t.executive_class='nothing2' and t.status is null and t.fuck = 2 and t.updater = '王继先' THEN '王继先回退'
    WHEN t.executive_class='nothing2' and t.status is null and t.fuck = 2 and t.updater = '董世坤' THEN '董世坤回退'
    WHEN t.executive_class='nothing2' and t.status is null and t.fuck = 2 and t.updater = '孙伟' THEN '孙伟回退'
    WHEN t.executive_class='nothing2' and t.status is null and t.fuck = 2 and t.updater = '兹兆言' THEN '兹兆言回退'
    WHEN t.executive_class='nothing2' and t.status is null and t.fuck = 2 and t.updater = '徐恩成' THEN '徐恩成回退'
    WHEN t.executive_class='nothing2' and t.status is null and t.fuck = 2 and t.updater = '刘恩胜' THEN '刘恩胜回退'
    END
    as executive_class
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status IN (0,1)
    AND t.execution_cross &lt;&gt; 'nothing'
    AND (t.execution_cross in (
    SELECT
    CASE WHEN c.id=17 OR c.id=24 OR c.id=25 THEN '1' WHEN c.id=18 or c.id=21 or c.id=23 THEN '2' WHEN c.id=19 or c.id=20 or c.id=22 THEN '3' ELSE 0 END
    FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
    ) or
		'0' in (select c.id FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
	))
	AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
    LIMIT #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="selectTaskInfoCount" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status IN (0,1)
    AND t.execution_cross &lt;&gt; 'nothing'
    AND (t.execution_cross in (
    SELECT
    CASE WHEN c.id=17 OR c.id=24 OR c.id=25 THEN '1' WHEN c.id=18 or c.id=21 or c.id=23 THEN '2' WHEN c.id=19 or c.id=20 or c.id=22 THEN '3' ELSE 0 END
    FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
    ) or
		'0' in (select c.id FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
	))

	AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
  </select>

  <select id="selectAssemblyInfo" resultMap="BaseResultMap2">
    SELECT t.id,t1.ship_number,t1.batch,t1.segmentation,CONCAT(t1.part_number,',',t2.part_number) as part_number,
    t.update_date,t1.length,t.workitem_status,t.process
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status IN (0,1,2)
    AND t.execution_cross &lt;&gt; 'nothing'
    AND t.executive_class &lt;&gt; 'nothing'
    AND (t.execution_cross in (
    SELECT
    CASE WHEN c.id=17 OR c.id=24 OR c.id=25 THEN '1' WHEN c.id=18 or c.id=21 or c.id=23 THEN '2' WHEN c.id=19 or c.id=20 or c.id=22 THEN '3' ELSE 0 END
    FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
    ) or
		'0' in (select c.id FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
	))
    AND (t.executive_class in (
    SELECT
    c.id
    FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
    ) or
		'0' in (select c.id FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
	))
	AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
    LIMIT #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="selectAssemblyInfoCount" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status IN (0,1,2)
    AND t.execution_cross &lt;&gt; 'nothing'
    AND (t.execution_cross in (
    SELECT
    CASE WHEN c.id=17 OR c.id=24 OR c.id=25 THEN '1' WHEN c.id=18 or c.id=21 or c.id=23 THEN '2' WHEN c.id=19 or c.id=20 or c.id=22 THEN '3' ELSE 0 END
    FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
    ) or
		'0' in (select c.id FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
	))
    AND (t.executive_class in (
    SELECT
    c.id
    FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
    ) or
		'0' in (select c.id FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE
    a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
	))
	AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
  </select>

  <select id="selectWeldingInfo" resultMap="BaseResultMap2">
    SELECT t.id,t1.ship_number,t1.batch,t1.segmentation,CONCAT(t1.part_number,',',t2.part_number) as part_number,t.workitem_status,t.executive_class
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    LEFT JOIN t_workitem t3 ON t.id = t3.workItem_id AND t3.type = #{type,jdbcType=INTEGER}
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status = 2
    AND t.check_if = 1
    AND t3.now is null
    AND('刘恩胜' = #{no,jdbcType=VARCHAR}
    OR '孔祥禹' = #{no,jdbcType=VARCHAR})
    AND t.process &lt;&gt; 'nothing'
    AND t.process like '%${type}%'
    AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
    LIMIT #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="selectWeldingInfoCount" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    LEFT JOIN t_workitem t3 ON t.id = t3.workItem_id AND t3.type = #{type,jdbcType=INTEGER}
     WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status = 2
    AND t.check_if = 1
    AND t3.now is null
    AND('刘恩胜' = #{no,jdbcType=VARCHAR}
    OR '孔祥禹' = #{no,jdbcType=VARCHAR})
    AND t.process &lt;&gt; 'nothing'
    AND t.process like '%${type}%'
    AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
  </select>

  <select id="getWeldingSelect" resultMap="BaseResultMap4">
    SELECT t.id,t1.ship_number,t1.batch,t1.segmentation,CONCAT(t1.part_number,',',t2.part_number) as part_number,t3.description
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
	LEFT JOIN t_workitem t3 ON t.id = t3.workItem_id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t3.description is not null
    AND t.workitem_status in(2,3,4,6)
    and (t3.updater = #{no,jdbcType=VARCHAR}
	OR '孔祥禹' = #{no,jdbcType=VARCHAR}
	)
    AND t3.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
    LIMIT #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="getWeldingSelectCount" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
	LEFT JOIN t_workitem t3 ON t.id = t3.workItem_id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t3.description is not null
    AND t.workitem_status in(2,3,4,6)
    and (t3.updater = #{no,jdbcType=VARCHAR}
	OR '孔祥禹' = #{no,jdbcType=VARCHAR}
	)
    AND t3.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
  </select>
  <select id="getWelding12345Day" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    LEFT JOIN t_workitem t3 ON t.id = t3.workItem_id AND t3.type = #{type,jdbcType=INTEGER}
     WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status in (2,3,4,6)
    AND t.check_if = 1
    AND t3.now is not null
    AND t.process &lt;&gt; 'nothing'
    AND t.process like '%${type}%'
    AND to_days(t3.update_date) = to_days(now());
  </select>
  <select id="getWelding12345Month" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    LEFT JOIN t_workitem t3 ON t.id = t3.workItem_id AND t3.type = #{type,jdbcType=INTEGER}
     WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status in (2,3,4,6)
    AND t.check_if = 1
    AND t3.now is not null
    AND t.process &lt;&gt; 'nothing'
    AND t.process like '%${type}%'
    AND DATE_FORMAT(t3.update_date,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m');
  </select>
  <select id="getWeldingAll" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status  IN (3,4)
  </select>
  <select id="selectOutInfo" resultMap="BaseResultMap5">
    SELECT t.id,t1.ship_number,t1.batch,t1.segmentation,CONCAT(t1.part_number,',',t2.part_number) as part_number,t.workitem_status,t.car_number
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status in (3,4)
    <trim>
      <if test="segmentation != null">
        AND t1.segmentation = #{segmentation,jdbcType=VARCHAR}
      </if>
    </trim>
    <trim>
      <if test="shipNumber != null">
        AND t1.ship_number = #{shipNumber,jdbcType=VARCHAR}
      </if>
    </trim>
    AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
    LIMIT #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

  <select id="selectOutInfoCount" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status in (3,4)
    AND t.update_date BETWEEN
    date_format(#{startDate,jdbcType=TIMESTAMP} ,'%Y-%m-%d %H:%i:%s') and date_format(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')
  </select>

  <select id="selectOutInfo2" resultMap="BaseResultMap5">
    SELECT t.id,t1.ship_number,t1.batch,t1.segmentation,
    CONCAT(t1.part_number,',',t2.part_number) as part_number,
    t.workitem_status,t.car_number,t.updater
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status = 4
		AND t.updater = #{no,jdbcType=VARCHAR}
		AND to_days(t.update_date) = to_days(now())
	LIMIT #{pageNo,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="selectOutInfoCount2" resultType="Integer">
    SELECT count(*)
    FROM t_workitem_relation t
    LEFT JOIN t_acc_commoninfo t1 ON t.one_common_id = t1.id
    LEFT JOIN t_acc_commoninfo t2 ON t.two_common_id = t2.id
    WHERE
    (t.delete_flag = 0 or t.delete_flag is null)
    AND t.workitem_status = 4
		AND t.updater = #{no,jdbcType=VARCHAR}
		AND to_days(t.update_date) = to_days(now())
  </select>
  <select id="a" resultType="Integer">
    select count(*)
	from t_workitem_relation t
	where t.one_common_id = (select one_common_id from t_workitem_relation where id = #{id,jdbcType=INTEGER})
	and delete_flag != 1;
  </select>
  <select id="b" resultType="Integer">
    select count(*)
	from t_workitem_relation t
	where t.one_common_id = (select one_common_id from t_workitem_relation where id = #{id,jdbcType=INTEGER})
	and t.workitem_status = 6;
  </select>
  <update id="c" >
    UPDATE t_workitem_relation
    SET workitem_status = 3,delete_flag = 0,updater = #{updater,jdbcType=VARCHAR},
    update_date = SYSDATE()
    WHERE delete_flag = 1
    AND one_common_id = (select one_common_id from (select one_common_id from t_workitem_relation where id = #{id,jdbcType=INTEGER}) a)

  </update>
  <update id="d" >
    update t_workitem_relation set workitem_status = 0,executive_class = 'nothing2',fuck=2,update_date = SYSDATE(),updater = #{updater,jdbcType=VARCHAR} where delete_flag = 0 and id = #{id,jdbcType=INTEGER};
  </update>
  <update id="underPlan" >
    UPDATE t_workitem_relation
    SET delete_flag = 1,updater = #{updater,jdbcType=VARCHAR},
    update_date = SYSDATE()
    WHERE (delete_flag = 0 OR delete_flag IS NULL)
    AND id IN
    <foreach collection="idGroup" item="item" index="index" open="(" separator="," close=")">
      #{item.id}
    </foreach>
  </update>

  <insert id="underPlan2">

    insert into t_workitem_relation (id, one_common_id, two_common_id,
    execution_cross, executive_class, check_if,
    process, workitem_status, register_date,
    update_date, creator, updater,
    delete_flag)
    values
    <foreach collection="idGroup" item="item" index="index" separator=",">
      (null, (select one_common_id from (select one_common_id from t_workitem_relation where id = #{item.id}) a ), (select two_common_id from (select two_common_id from t_workitem_relation where id = #{item.id}) b),
      #{item.kua}, 'nothing',1,'nothing','0',SYSDATE(),
      SYSDATE(), #{updater,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR},
      0)
    </foreach>
  </insert>

  <update id="claim" >
    UPDATE t_workitem_relation t
    SET t.executive_class = (SELECT c.id
    FROM t_role c where c.id in (
    SELECT b.role_id from t_admin a
    LEFT JOIN t_admin_role b ON a.id = b.admin_id
    WHERE a.delete_flag = 0
    AND a.`no` = #{no,jdbcType=VARCHAR}
    )
    AND c.name like '%${no}%'
    ),t.workitem_status = 1,t.updater = #{no,jdbcType=VARCHAR}
    ,t.update_date = SYSDATE()
    WHERE (t.delete_flag = 0 OR t.delete_flag IS NULL)
    AND t.id IN
    <foreach collection="idGroup" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <update id="assembly" >
    <foreach collection="idGroup" item="item" index="index" separator=";">
      UPDATE t_workitem_relation SET workitem_status = 2,
      check_if = 1,
      process = #{item.process},
      updater = #{no,jdbcType=VARCHAR},
      update_date = SYSDATE()
      WHERE
      (delete_flag = 0 OR delete_flag IS NULL)
      AND ID = #{item.id}
    </foreach>
  </update>
  <update id="assembly2" >
    <foreach collection="idGroup" item="item" index="index" separator=";">
      UPDATE t_workitem_relation SET
      process = REPLACE(REPLACE(REPLACE(#{item.process},'2',''),',2',''),'2,','')
      WHERE
      (delete_flag = 0 OR delete_flag IS NULL)
      AND ID = #{item.id}
    </foreach>
  </update>

  <update id="done" >
      UPDATE t_workitem_relation SET workitem_status = 6,
      updater = #{no,jdbcType=VARCHAR},
      update_date = SYSDATE()
      WHERE
      (delete_flag = 0 OR delete_flag IS NULL)
      AND ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="out" >
      UPDATE t_workitem_relation SET workitem_status = 4,
      car_number = #{carNumber,jdbcType=VARCHAR},
      updater = #{no,jdbcType=VARCHAR},
      update_date = SYSDATE()
      WHERE
      (delete_flag = 0 OR delete_flag IS NULL)
      AND ID in
      <foreach collection="idGroup" item="item" index="index" open="(" separator="," close=")">
      #{item}
      </foreach>
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_workitem_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByOne" parameterType="java.lang.Integer">
    delete from t_workitem_relation
    where one_common_id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.teacherbe.entity.WorkitemRelation">
    insert into t_workitem_relation (id, one_common_id, two_common_id, 
      execution_cross, executive_class, check_if, 
      process, workitem_status, register_date, 
      update_date, creator, updater, 
      delete_flag)
    values (#{id,jdbcType=INTEGER}, #{oneCommonId,jdbcType=INTEGER}, #{twoCommonId,jdbcType=INTEGER},
      #{executionCross,jdbcType=VARCHAR}, #{executiveClass,jdbcType=VARCHAR}, #{checkIf,jdbcType=INTEGER},
      #{process,jdbcType=VARCHAR}, #{workitemStatus,jdbcType=INTEGER}, #{registerDate,jdbcType=TIMESTAMP},
      #{updateDate,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{updater,jdbcType=VARCHAR},
      #{deleteFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertDaSB">
    insert into t_workitem_relation (id, one_common_id, two_common_id,
      execution_cross, executive_class, check_if,
      process,status, workitem_status, register_date,
      update_date, creator, updater,
      delete_flag)
    select
    null, one_common_id, two_common_id, '2', 'nothing', check_if, 'nothing',11,
    0, register_date, update_date, creator, updater, delete_flag
    from t_workitem_relation
    where id = #{id,jdbcType=INTEGER};
    insert into t_workitem_relation (id, one_common_id, two_common_id,
      execution_cross, executive_class, check_if,
      process,status, workitem_status, register_date,
      update_date, creator, updater,
      delete_flag)
    select
    null, one_common_id, two_common_id, '3', 'nothing', check_if, 'nothing',11,
    0, register_date, update_date, creator, updater, delete_flag
    from t_workitem_relation
    where id = #{id,jdbcType=INTEGER};
  </insert>
  <insert id="insertSelective" parameterType="cn.teacherbe.entity.WorkitemRelation">
    insert into t_workitem_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oneCommonId != null">
        one_common_id,
      </if>
      <if test="twoCommonId != null">
        two_common_id,
      </if>
      <if test="executionCross != null">
        execution_cross,
      </if>
      <if test="executiveClass != null">
        executive_class,
      </if>
      <if test="checkIf != null">
        check_if,
      </if>
      <if test="process != null">
        process,
      </if>
      <if test="workitemStatus != null">
        workitem_status,
      </if>
      <if test="registerDate != null">
        register_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updater != null">
        updater,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oneCommonId != null">
        #{oneCommonId,jdbcType=INTEGER},
      </if>
      <if test="twoCommonId != null">
        #{twoCommonId,jdbcType=INTEGER},
      </if>
      <if test="executionCross != null">
        #{executionCross,jdbcType=VARCHAR},
      </if>
      <if test="executiveClass != null">
        #{executiveClass,jdbcType=VARCHAR},
      </if>
      <if test="checkIf != null">
        #{checkIf,jdbcType=INTEGER},
      </if>
      <if test="process != null">
        #{process,jdbcType=VARCHAR},
      </if>
      <if test="workitemStatus != null">
        #{workitemStatus,jdbcType=INTEGER},
      </if>
      <if test="registerDate != null">
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.teacherbe.entity.WorkitemRelation">
    update t_workitem_relation
    <set>
      <if test="oneCommonId != null">
        one_common_id = #{oneCommonId,jdbcType=INTEGER},
      </if>
      <if test="twoCommonId != null">
        two_common_id = #{twoCommonId,jdbcType=INTEGER},
      </if>
      <if test="executionCross != null">
        execution_cross = #{executionCross,jdbcType=VARCHAR},
      </if>
      <if test="executiveClass != null">
        executive_class = #{executiveClass,jdbcType=VARCHAR},
      </if>
      <if test="checkIf != null">
        check_if = #{checkIf,jdbcType=INTEGER},
      </if>
      <if test="process != null">
        process = #{process,jdbcType=VARCHAR},
      </if>
      <if test="workitemStatus != null">
        workitem_status = #{workitemStatus,jdbcType=INTEGER},
      </if>
      <if test="registerDate != null">
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.teacherbe.entity.WorkitemRelation">
    update t_workitem_relation
    set one_common_id = #{oneCommonId,jdbcType=INTEGER},
      two_common_id = #{twoCommonId,jdbcType=INTEGER},
      execution_cross = #{executionCross,jdbcType=VARCHAR},
      executive_class = #{executiveClass,jdbcType=VARCHAR},
      check_if = #{checkIf,jdbcType=INTEGER},
      process = #{process,jdbcType=VARCHAR},
      workitem_status = #{workitemStatus,jdbcType=INTEGER},
      register_date = #{registerDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      updater = #{updater,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>